body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #77f0ce;
}

.container {
  display: flex;
  padding: 40px;
  gap: 40px;
}

.profile-card {
  background: white;
  padding: 30px;
  width: 300px;
  height: fit-content;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.workshops {
  flex: 1;
}

.workshops h1 {
  margin-bottom: 20px;
  font-size: 32px;
}

.card {
  background: white;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
}

a {
  color: #5a2ca0;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.workshop-page {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.full-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.workshop-text {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  color: #5a2ca0;
  font-weight: bold;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}
.doc-link {
  margin: 20px 0;
  font-size: 18px;
}

.doc-link .label {
  font-weight: bold;
  margin-right: 8px;
}

.doc-link a {
  color: #5a2ca0;
  text-decoration: none;
  font-weight: bold;
}

.doc-link a:hover {
  text-decoration: underline;
}
